* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #111827;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    padding: 30px;

    text-align: center;

    background-color: #1f2937;
    color: white;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

h1 {
    margin-bottom: 15px;
}

p {
    color: #9ca3af;
    line-height: 1.5;
}

button {
    margin-top: 25px;
    padding: 12px 20px;

    border: none;
    border-radius: 7px;

    background-color: #3b82f6;
    color: white;

    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}

#result {
    margin-top: 25px;
    padding: 15px;

    background-color: #111827;
    border-radius: 8px;

    color: #22c55e;
}